body{
    margin: 0;
    padding: 0;
    height: 800px;
    background:linear-gradient(135deg,black 10%,#B3E140 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    font-family: 'Rubik' ,'sans-serif';
}
h5{
    font-size: 6vmax;
    padding: 0;
    margin: 0;
}
input{
    width: 60%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b0b3b9;
    background-color: transparent;
}
input::placeholder{
    color: white;
    opacity: 1;
}
p{
    color: grey;
    padding: 40px;
}
.main{
    height: 95vh;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.147);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin-bottom: 80PX;
    margin-top: 10PX;
}

.left-section{
    background-color:#B3E140;
    background-size: cover;
    color: black;
    height: 100%;
    width: 60%;
    border-radius: 15px;
}
.right-section{
    
    background-color: black;
    color: white;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
}
.bottom-section{
    display: flex;
    flex-direction: row;

}

.login-btn{
    background-color: #B3E140 ;
    border-radius: 18px;
    font-size: 20px;
    border: none;
    color: white;
    width: 60%;
    height: 45px;
    margin-top: 20px;
}

.remember-forgot{
    margin: 0;
    padding: 0;
    width: 70%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.remember-forgot input{
    width: 40px;
    margin-top: 0;
    border: 3px solid #70f570;

}
.remember-forgot p{
    padding: 0;
    margin: 0;
}

/* Left Section*/
.right-section{
    margin: 0;
    padding: 0;
}
.big-heading{
    margin: 0;
    padding: 0;
    margin-top: 55px;
    margin-left: 45px;
    width: 60%;
    font-weight: 300;
    font-size: 160px;
    color: white;
    overflow-wrap: break-word;
    line-height: 160px;
}

.left-section p{
    padding-top: 20px;
    color: white;
    margin-top: 0;
}

.left-section h3{
    color: white;
    padding-left: 40px;
}

.facebook-btn{
    margin-left: 40px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #3b5998;
    width: 150px;
    height: 62px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 3px 6px 1px #042d4657; 
    display: inline-block;  
    position: relative;
}
.twitter-btn{
    margin-left: 40px;
    color: white;
    font-size: 17px;
    text-decoration: underline;
    background-color: #1dcaff;
    width: 250px;
    height: 62px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 3px 6px 1px #042d4657;  
    display: inline-block; 
    position: relative;
}