:root{
    --primary-color:#D3E0EA;
    --secondary-color:#1687A7;
    --secondary-dark-color:#276678;

    --white-color:#ffffff;
    --light-bg-color:#f2f3f5;
    --light-text-color:#7c899a;
    --border-color:#e5e8ec;
    --dark-color:#0a021c;

    --font-small: 13px;
    --font-smaller:11px;

    --percent100:100%;
    --percent50:50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color:background-color .3s color .3s;
    --trans-background: background-color .3s;
    --trans-color:color .3s;

}
body{
    margin: 0 ;
    padding:0 ;
    font-family: 'Rubik' ,'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--white-color);
    background-color: #D3E0EA;
}
a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style: none;
}
.container{
    min-height: 60px;
    width: 90%;
    margin: 0 auto;
    padding: 0.830em 0.938em;
    background-color: var(--secondary-dark-color);
}
.flexitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-hide{
    display: none;
}
.main-links a:hover{
    color: #15353e;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
header li>a{
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}
.logo a{
    font-family:'Poppins';
    font-size: 1.75em;
    font-weight: var(--fw8);
    position: relative;
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}
.container nav >ul{
    line-height: 50px;
    gap:2em;
}
.container .right ul{
    gap: 2em;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
}
.nav-links{
    transition: 0.7s ease;
}
@media(min-width:768px){
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
}
@media(max-width:768px){
    .container{
        width: 100%;
    }
    .hamburger{
        margin-right: 30px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -110%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary-dark-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0%;
    }

}