
h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.menu-container {
  margin-top: 20px;
}
.menu-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.menu-container:nth-child(3) {
  margin-top: 200px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}
.menu {
  display: flex;
  justify-content: center;
}
.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}
.dropdown:hover {
    background-color: var(--main-color);
    cursor: pointer;
  color:#fff ;
}
.dropdown:hover .dropdown_menu li {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu li {
  display: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}
.dropdown_menu li:hover {
  background-color: #2980b9;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.dropdown_menu-9 {
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
}

@-moz-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
